@using Microsoft.AspNetCore.Http.Features
@{
	var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
	var showBanner = !consentFeature?.CanTrack ?? false;
	var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
	<div id="cookieConsent">
		This site uses cookies to provide you with a great login experience.
		<button type="button" data-dismiss="alert" data-cookie-string="@cookieString">
			<span aria-hidden="true">Accept</span>
		</button>
	</div>
	<script src="~/js/cookie-consent.js"></script>
}